
<div class="container" style="font-size: 0.9em; ">
    
    <div class="col-sm-2" style="height:500px; background-color:#5C3A5B; color: white" >
        <ul class="nav nav-list">
            <li class="active">
                <strong><i class="fa fa-bell"></i>&nbsp;Welcome</strong>
            <li/>

            <li>
                &nbsp;&nbsp;<span class="fa fa-male"></span>&nbsp;&nbsp;{{user.username}}
            </li>
        </ul><br>
        <ul class="nav nav-list">
            <li class="active" ><i class="fa fa-lock"></i> <strong>CHANNELS</strong> ({{channels.length}})</li>
            <div ng-repeat="channel in channels | orderBy:'channelname'" >&nbsp;&nbsp;&nbsp;<a href="#/messages/{{channel.id }}">#&nbsp;{{channel.channelname}} ({{channel.numberofmessages}})</a></div>
        </ul>
        <ul class="nav nav-list">
            <li  ><i class="fa fa-lock"></i> <strong>DIRECT MESSAGES</strong></li>
            <div ng-repeat="pChannel in pChannels | orderBy:'channelname'" >&nbsp;&nbsp;&nbsp;<a href="#/messages/{{pChannel.id }}"><i class="fa fa-comments-o"></i>&nbsp;{{pChannel.channelname}} ({{pChannel.numberofmessages}})</a></div>
        </ul>
    </div>
    <div class="col-sm-7" >

        <form ng-submit="addName()">
            <table border="0" >
                <!--
                <tr>
                    <th>User Name</th>
                    <th>Content</th>
                    <th>Date</th>
                </tr> --> 
                <tr>
                    <th colspan="3" style="text-align: right">
                        <!-- <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Settings&nbsp; -->
                        <a href="#/" ng-click="logoutModule()"><i class="fa fa-sign-out"></i>Log Out</a>
                    </th>
                <tr ng-repeat="message in messages | orderBy:'date'" ">
                    <td colspan="2">

                        <i class="fa fa-user"></i>&nbsp;&nbsp;
                        <strong>{{message.username}}</strong>&nbsp;<span style="font-size: 0.7em;" >{{message.date| date : 'medium'}}</span>
                        <br />
                        <div style="width: 500px; padding-left:20px">
                            <span style="width:480px" >
                                {{ message.message}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <span style="width:20px; align:right">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>
                    </td>
                    <!--
                    <td style="width: 20%; vertical-align:top;"><i class="fa fa-user"></i>&nbsp;&nbsp;
                        <strong>{{message.username}}</strong>&nbsp;<span style="font-size: 0.7em;" >{{message.date| date : 'shortTime'}}</span>
                    </td>
                    <td style="width: 50%;">{{ message.message}}</td>
                    <td style="width: 20%; text-align: right; font-size: 0.7em;" >{{ message.date | date : 'mediumDate'}}</td>
                    -->
                </tr>
                <tr >
                    <td colspan="3" style="text-align: left; padding:0.2em" >

                        <textarea style="width: 562px; height: 35px;" cols="300" rows="1" ng-model="enteredMessage" ></textarea>
                        <!-- <input type="submit" value="add"></input><br/> -->
                        
                        <button type="submit" style="width: 65px; height:30px">
                            <i class="fa fa-paper-plane"></i>
                        </button><br/>
                        
                        <div  ng-class="{ 'has-error': form.enteredMessage.$dirty && form.enteredMessage.$error.required }">
                            <span style="color:red" ng-show="showAddError">Message content is required.</span>
                        </div>

                    </td>
                </tr>
            </table>
        </form>
    </div>
  </div>
</div>
