<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="slackCloneApp">

<head>
  <title>Slack Clone</title>
  <!-- SCROLLS -->
  <!--
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

  <!-- SPELLS -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  <script src="script.js"></script>

  <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #F2F2F2}

    th {
        background-color: #E5E5E5;
        //color: white;
    }
  </style>  
</head>

<!-- define angular controller -->
<body> <!-- ng-controller="mainController"-->
<!--
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Slack Example</a>
      </div>
      
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#/logout" ng-click="logoutModule()"><i class="fa fa-sign-out"></i> Log Out</a></li>

        <li><a href="#channels"><i class="fa fa-gift"></i> Channels</a></li>

        <li><a href="#logon"><i class="fa fa-sign-in"></i> Logon</a></li>
        <li><a href="#messages"><i class="fa-comments"></i> Messages</a></li>
      </ul>
    </div>  
  </nav> -->
<div class="container" style=" font-size: 0.9em;"> <!-- background-color: #C8C5C9;-->

  <div id="main">
    <br/>
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view ></div>
    
  </div>
  <div style="font-size:0.9em; width:500px; padding-left: 2em;"> <!-- class="container" -->
      <div style ="align:left">
          <footer class="text-left row disclaimers">
            <br/>
            <i class="fa fa-copyright"></i> Copyright 2016 Abu, Shuvo, Swarup, Sylvester - Angular Slack Clone
          </footer>
      </div>
  </div>
</div>

</body>

</html>
